{% extends 'base.html.twig' %}

{% block title %}Edit MailAlias{% endblock %}

{% block body %}
    <h1>Edit MailAlias</h1>

    {{ include('mail_alias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mail_alias_index') }}">back to list</a>

    {{ include('mail_alias/_delete_form.html.twig') }}
{% endblock %}
