{% extends 'base.html.twig' %}

{% block title %}Edit Mail Account{% endblock %}

{% block body %}
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-semibold text-gray-900">Edit Mail Account</h1>
        <a href="{{ path('app_mail_account_index') }}" class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors duration-200">
            <i class="fas fa-chevron-left mr-2"></i> Back to List
        </a>
    </div>

    {{ include('mail_account/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="mt-6">
        {{ include('mail_account/_delete_form.html.twig') }}
    </div>
{% endblock %}
